.masthead {
  color: white;
  background-color: $main-color;
  // padding: 185px 0;
  padding: 137px 0;

  .page-heading {
    h1 {
      font-size: 80px;
      font-weight: 800;
    }

    .subheading {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
    }

  }

  span.meta a {
    color: #fff;
  }

  .overlay {
    background-color: $main-color;
  }
}

header.masthead .post-heading h1 {
  font-size: 55px;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .subheading {
  font-size: 30px;
}
