.masthead {
  color: white;
  background-color: $gray-900;
  padding: 145px 0;

  .post-heading {
    h1 {
      font-size: 55px;
      font-weight: 700;
    }
  }

  .site-heading {
    h1 {
      font-size: 50px;
      margin-top: 0;
    }
  }

  .page-heading {
    h1 {
      // font-size: 80px;
      font-weight: 800;
      font-family: $main-font-family;
      font-size: 50px;
      margin-top: 0;
    }

    .subheading {
      font-size: 24px;
      // font-weight: 400;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
    }
  }

  .meta {
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .overlay {
    background-color: $gray-900;
  }

  @media only screen and (min-width: 768px) {
    .page-heading h1,
    .site-heading h1 {
      font-size: 80px;
      font-weight: 800;
    }
  }
}
