#wrapper-navbar {
  background-color: $main-color;
  // padding: 20px 90px;
  // padding: 20px 25px;

  .navbar-brand {
    // padding-left: 10px;
    // padding-top: 20px;
    margin: 10px 0;
  }

  .disabled {
    cursor: not-allowed;
    opacity: 20%;
  }

  .navbar-toggler {
    border: none;

    &:focus {
      border-color: inherit;
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    #nav-icon {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 22px;
      position: relative;
      margin: 0 auto;
      transform: rotate(0deg);
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 50%;
        background: #fff;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
      }
    }

    &[aria-expanded="false"] {
      #nav-icon {
        span:nth-child(even) {
          left: 50%;
        }
        span:nth-child(odd) {
          left: 0px;
        }
        span:nth-child(1),
        span:nth-child(2) {
          top: 0px;
        }
        span:nth-child(3),
        span:nth-child(4) {
          top: 9px;
        }
        span:nth-child(5),
        span:nth-child(6) {
          top: 18px;
        }
      }
    }

    &[aria-expanded="true"] {
      #nav-icon {
        span:nth-child(1),
        span:nth-child(6) {
          transform: rotate(45deg);
        }
        span:nth-child(2),
        span:nth-child(5) {
          transform: rotate(-45deg);
        }
        span:nth-child(1) {
          left: 5px;
          top: 7px;
        }
        span:nth-child(2) {
          left: calc(50% - 5px);
          top: 7px;
        }
        span:nth-child(3) {
          left: -50%;
          opacity: 0;
        }
        span:nth-child(4) {
          left: 100%;
          opacity: 0;
        }
        span:nth-child(5) {
          left: 5px;
          top: 12px;
        }
        span:nth-child(6) {
          left: calc(50% - 5px);
          top: 12px;
        }
      }
    }
  }

  .navbar-expand-md {
    z-index: 99;
    padding: 0;
    // padding-bottom: 5px;
    .container {
      .navbar-toggler {
        display: block;
      }
    }
  }

  .navbar-collapse {
    width: 100%;
    background: $main-color;
    position: fixed;
    z-index: 9;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s;

    ul.navbar-nav {
      position: absolute;
      // top: 100px;
      top: 23%;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      li {
        opacity: 0;
        transition: opacity 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
        padding: 0;
        margin-bottom: 20px;
        a {
          color: white;
          font-size: 40px;
          padding: 0;

          text-decoration: none;
        }
      }
    }

    &.show {
      min-height: 100vh;
      visibility: visible;
      opacity: 1;
      z-index: 9;
      ul {
        li {
          opacity: 1;
        }
      }
    }
  }
}
