// $blue: #212529;

$primary: #00657b;
$secondary: #00657b;


$main-font-family: "Major Mono Display", monospace;
$main-color: #212529;

$secondary-font-family: 'Open Sans', sans-serif;
$secondary-color: #0085A1;
$secondary-color-hover: #00657b;
