.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: $secondary-color;
  // font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}

.fa-lg {
  font-size: 1.33333em;
}

.post-preview {

  padding: 10px;

  &:hover {
    background-color: #f8efef8f;
  }

  a {
    text-decoration: none;
  }

  .post-meta {
    font-size: 18px;
    margin-top: 0;
    // color: #868e96;
  }

  .post-title {
    font-weight: 700;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
    max-width: max-content;
  }

  .post-subtitle {
    font-weight: 300;
    padding: 10px 0;
  }
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
