// TODO: Refactor this styles!

#wrapper-navbar {
  background-color: #212529;
  // border-bottom: none;

  .navbar-brand {
    color: #fff;
    // font-weight: unset;

    margin-top: 20px;
    margin-left: 20px;

    img {
      width: 98px;
    }
  }

  .navbar-toggler {
    color: #fff;
    border-color: #fff;
    // border-radius: 0px;
  }

  .navbar-nav > li.nav-item > a {
    color: #fff;
  }

  .navbar-nav > li:hover {
    text-decoration: underline;
  }

  .navbar-nav > li.active > a {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 992px) {
  #mainNav.is-fixed {
    background-color: #212529;
    border-bottom: none;

    .navbar-brand {
      color: #fff;
    }

    .navbar-nav > li.nav-item > a {
      color: #fff;
    }
  }
}

header.masthead {
  background-color: #212529;
  color: #fff;

  .overlay {
    opacity: unset;
    background-color: #212529;
  }
}

#notFound {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
  /* margin-top: 100px; */
  margin-top: 12%;
}

#404 > h1 {
  margin: 30px 0;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px;
}

// new styles

.disabled {
  cursor: not-allowed;
  opacity: 20%;
  text-decoration: line-through;
}

.page-heading {
  h1 {
    font-family: "Major Mono Display", monospace;
    // text-transform: uppercase;
  }
}

small.text-muted {
  font-family: "Open Sans" !important;
}

.post-title {
  // font-family: "Major Mono Display", monospace;
}

.post-meta,
.post-meta a,
p.post-meta,
span.meta {
  font-family: "Open Sans" !important;
  // font-weight: bold;
  font-style: normal !important;
}

ul#main-menu {
  li > a {
    // font-family: 'Open Sans' !important;
    font-family: "Major Mono Display", monospace;
    // text-transform: uppercase;
  }
}

.copyright,
.text-justify,
p {
  // font-family: "Major Mono Display", monospace;
  font-family: "Open Sans" !important;
}

// Tips
.post-preview:last-child {
  border: none;
}

// Typograph
#about p::first-letter {
  font-size: 120%;
  font-weight: 600;
  font-style: bold;
}

// New menu
//Desktop full screen
button.navbar-toggler {
  margin-right: 20px;
  margin-top: 20px;
}

.navbar-expand-md {
  z-index: 99;
  background: #212529;
  padding: 0;
  .container {
    .navbar-toggler {
      display: block;
    }
  }
}

.navbar-collapse {
  width: 100%;
  background: #212529;
  position: fixed;
  z-index: 9;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;

  ul.navbar-nav {
    position: absolute;
    // top: 100px;
    top: 23%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    li {
      opacity: 0;
      transition: opacity 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
      padding: 0;
      margin-bottom: 20px;
      a {
        color: white;
        font-size: 40px;
        padding: 0;
      }
    }
  }

  &.show {
    min-height: 100vh;
    visibility: visible;
    opacity: 1;
    z-index: 9;
    ul {
      li {
        opacity: 1;
        a {
          // text-transform: uppercase;
        }
        /* &:nth-child(1) {
          transition-delay: 0.06s;
        }
        &:nth-child(2) {
          transition-delay: 0.12s;
        }
        &:nth-child(3) {
          transition-delay: 0.18s;
        }
        &:nth-child(4) {
          transition-delay: 0.24s;
        }
        &:nth-child(5) {
          transition-delay: 0.3s;
        }
        &:nth-child(6) {
          transition-delay: 0.36s;
        } */
      }
    }
  }
}

.navbar-toggler {
  // padding: 0;
  padding: 7px;
  font-family: "Open Sans";

  #nav-icon {
    display: inline-block;
    vertical-align: middle;

    width: 30px;
    height: 22px;
    position: relative;
    margin: 0 auto;
    transform: rotate(0deg);
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 50%;
      background: #fff;
      opacity: 1;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }
  }

  &[aria-expanded="false"] {
    #nav-icon {
      span:nth-child(even) {
        left: 50%;
      }
      span:nth-child(odd) {
        left: 0px;
      }
      span:nth-child(1),
      span:nth-child(2) {
        top: 0px;
      }
      span:nth-child(3),
      span:nth-child(4) {
        top: 9px;
      }
      span:nth-child(5),
      span:nth-child(6) {
        top: 18px;
      }
    }
  }

  &[aria-expanded="true"] {
    #nav-icon {
      span:nth-child(1),
      span:nth-child(6) {
        transform: rotate(45deg);
      }
      span:nth-child(2),
      span:nth-child(5) {
        transform: rotate(-45deg);
      }
      span:nth-child(1) {
        left: 5px;
        top: 7px;
      }
      span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px;
      }
      span:nth-child(3) {
        left: -50%;
        opacity: 0;
      }
      span:nth-child(4) {
        left: 100%;
        opacity: 0;
      }
      span:nth-child(5) {
        left: 5px;
        top: 12px;
      }
      span:nth-child(6) {
        left: calc(50% - 5px);
        top: 12px;
      }
    }
  }
}
