#mainNav {
  background-color: #212529;
  border-bottom: none;

  .navbar-brand {
    color: #fff
  }

  .navbar-toggler {
    color: #fff;
    border-color: #fff;
    border-radius: 0px;
  }

  .navbar-nav>li.nav-item>a {
    color: #fff;
  }

  .navbar-nav>li:hover {
    text-decoration: underline;
  }

  .navbar-nav>li.active>a {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 992px) {
  #mainNav.is-fixed {
    background-color: #212529;
    border-bottom: none;

    .navbar-brand {
      color: #fff
    }

    .navbar-nav>li.nav-item>a {
      color: #fff;
    }
  }
}

header.masthead {
  background-color: #212529;
  color: #fff;

  .overlay {
    opacity: unset;
    background-color: #212529;
  }
}

#notFound {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
  margin-top: 100px;
}
#404>h1 {
  margin: 30px 0;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px;
}
