<header class="masthead" style="background-color: #062c33">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if page.author %}
          <div class="post-heading">
            <h1> {{ page.title }} </h1>
            <h2 class="subheading">{{ page.excerpt|strip_html}}</h2>
            <span class="meta">Posted by
                {{ page.author }} on {{ page.date | date_to_string }} &middot; {% include read_time.html content=page.content %}
            </span>
          </div>
        {% else %}
          <div class="site-heading">
            <h1>{{ page.title }}</h1>
            <span class="subheading">{{ page.description }}</span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>


