---
layout: default
---

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1> {{ page.title }} </h1>
          <h2 class="subheading">{{ page.excerpt|strip_html}}</h2>
          <span class="meta">
            {% if page.company %}
              {% assign company = site.data.companies | where: 'name', page.company | first %}
              <a href="{{ company.link }}" rel="noopener" target="_blank">{{ company.label }}</a> · {{ page.date | date: '%Y' }}
            {% else %}
              Posted on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=page.content %}
            {% endif %}
          </span>
        </div>
      </div>
    </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="text-justify">
          {{ content }}
        </div>
        {% if page.screenshot %}
          <p class="text-center">
            <img class="img-fluid border" src="/assets/dist/img/works/{{ page.screenshot }}" alt="{{ page.title }}">
            <span class="caption text-muted">{{ page.title }}</span>
          </p>
        {% endif %}
        {% if page.tags.size > 0 %}
          <p>Tag{% if page.tags.size > 1 %}s{% endif %}: {{ page.tags | sort | join: ", "}}.</p>
        {% endif %}
        {% if page.link %}
          <div class="text-center mt-5">
            <a href="{{ page.link }}" rel="noopener" target="_blank" class="btn btn-primary" aria-label="Visit Work">
              <i class="fa fa-external-link-alt"></i> Visit Work
            </a>
          </div>
        {% endif %}
        <hr>
      </div>
    </div>
</article>

{% include pagination.html %}
