---
layout: default
---
<!-- todo: refact content structure -->
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>

        <p>Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p>

        <h2 class="section-heading">Reaching for the Stars</h2>

        <p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.</p>

        <a href="#">
          <img class="img-fluid" src="/assets/img/post-sample-image.jpg" alt="">
        </a>

        <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>

        <p>Placeholder text by
          <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
          <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
      </div>

    </div>
  </div>
</article>

<!-- Pager -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <!-- Pager -->
      <div class="clearfix">
        {% if page.previous.url %}
        <a class="btn btn-primary left" href="{{page.previous.url}}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">
          &laquo; Previous Post
        </a>
        {% endif %}
        {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{page.next.url}}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">
            Next Post &raquo;
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
