---
layout: default
---

<header class="masthead mb-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1> {{ page.title }} </h1>
          <h2 class="subheading">{{ page.excerpt|strip_html}}</h2>
          <span class="meta">
            {% if page.company %}
            {% assign company = site.data.companies | where: 'name', page.company | first %}
            <a href="{{ company.link }}" rel="noopener" target="_blank">{{ company.label }}</a> · {{ page.date | date:
            '%Y' }}
            {% else %}
            Posted on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=page.content %}
            {% endif %}
            {% if page.isProject %}
            · <i class="fas fa-globe" title="Project"></i>
            {% else %}
            · <i class="fas fa-building" title="Company"></i>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="text-justify">
          {{ content }}
        </div>
        {% if page.tags.size > 0 %}
        <div class=" mt-5">
          <small class="text-muted"># {{ page.tags | sort | join: ", " }}</small>
        </div>
        {% endif %}
        {% if page.link %}
        <div class="text-center my-5 py-5">
          <a href="{{ page.link }}" rel="noopener" target="_blank" class="btn btn-primary" aria-label="Visit Work">
            <i class="fa fa-external-link-alt"></i> Visit the {% if page.isProject %}Project{% else %}Company{% endif %}
          </a>
        </div>
        {% endif %}
      </div>
    </div>
</article>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="clearfix">
        {% if page.previous.url %}
        <a class="btn btn-primary float-start" href="{{ page.previous.url }}" data-bs-toggle="tooltip"
          data-placement="top" title="{{ page.previous.title }}">
          ← Previous
        </a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-primary float-end" href="{{ page.next.url }}" data-bs-toggle="tooltip" data-placement="top"
          title="{{ page.next.title }}">
          Next →
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
