---
layout: default
---

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1> {{ page.title }} </h1>
          <h2 class="subheading">{{ page.excerpt|strip_html}}</h2>
          <span class="meta">
            {% if page.company %}
              {% assign company = site.data.companies | where: 'name', page.company | first %}
              <a href="{{ company.link }}" rel="noopener" target="_blank">{{ company.label }}</a> · {{ page.date | date:
              '%Y' }}
            {% else %}
              Posted on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=page.content %}
            {% endif %}
            {% if page.isProject %}
              · <i class="fas fa-globe" title="Project"></i>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="text-justify">
          {{ content }}
        </div>
        {% if page.tags.size > 0 %}
          <small class="text-muted">Tag{% if page.tags.size > 1 %}s{% endif %}: {{ page.tags | sort | join: ", " | downcase}}.</small>
        {% endif %}
        {% if page.link %}
          <div class="text-center mt-5 pt-5 pb-5">
            <a href="{{ page.link }}" rel="noopener" target="_blank" class="btn btn-primary" aria-label="Visit Work">
              <i class="fa fa-external-link-alt"></i> Visit the {% if page.isProject %}Project{% else %}Company{% endif %}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
</article>

{% include pagination.html %}
